.header {
    margin: 10px;
    width: calc(100% - 80px);
    height: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(185, 185, 185);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { transform: translateX(-10px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

deltahub-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url('deltahubn.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

deltamod-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url('deltamod.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

input:not([type="checkbox"]), textarea, select {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    width: calc(100% - 20px);
}
.sidebar, .main {
    min-height: 300px;
}
.content {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.main {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(100% - 60px);
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.sidebar {
    background-color: #62626237;
    padding: 10px;
    border-radius: 5px;
}

.sidebar > button {
    display: block;
    width: 100%;
    font-size: 0.7em;
    margin-bottom: 5px;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
}
h1 {
    margin: 0;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
}

table th {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #e0e0e0;
}