.projectDIV {
    display: flex;
    height: 500px;
    width: 100%;
}
.filePick {
    width: 20%;
    margin: 0;
    padding: 10px;
    height: 100%;
    background-color: rgb(197, 197, 197);
}

.contents {
    width: 80%;
    margin: 0;
    padding: 10px;
    height: 100%;
    background-color: rgb(234, 234, 234);
}