*:not(code) {
    font-family: 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #3636367b;
    padding: 2px 4px;
    border-radius: 4px;
}

.smalltalk {
    background-color: #2121219c;
    backdrop-filter: blur(5px); 
}

.icon_holder {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 5px;
}

.header {
    margin: 10px;
    width: calc(100% - 80px);
    height: fit-content;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.4);
    background-color: rgb(52, 52, 52);

    color: white;
    animation: fadeIn 0.5s ease-in-out;
}

#cright {
    margin: 10px;  
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 30px;
}

a {
    color: black;
}

#h1title {
    font-size: 2em;
    margin-bottom: 0;
}

#h1desc {
    font-size: 0.8em;
    margin-top: 0;
}

.header > * {
    color: white;
}

@keyframes objFadeIn {
    from { background-color: rgb(49, 49, 49); scale: 0.95; }
    to { background-color: #efefef; scale: 1; }
}
@keyframes fadeIn {
    from { transform: translateY(-15px); opacity: 0.2; }
    to { transform: translateY(0); opacity: 1; }
}

deltahub-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url('deltahubn.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

deltamod-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url('deltamod.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

input:not([type="checkbox"]), textarea, select {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    width: calc(100% - 20px);
}
.sidebar, .main {
    min-height: 300px;
}
.content {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 20px;
    width: 100%;
    
    gap: 20px;
}

.main {
    background-color: #dbdbdb;
    padding: 35px;
    margin: 10px;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 80px);
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.sidebar {
    background-color: #62626237;
    padding: 10px;
    border-radius: 15px;
}

.sidebar > button {
    display: block;
    width: 100%;
    font-size: 0.7em;
    margin-bottom: 5px;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d5d5d5;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    margin: 0;
}
h1 {
    margin: 0;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(86, 86, 86);
}

table th {
    background-color: rgb(86, 86, 86);
    color: #ffffff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #e0e0e0;
}

button {
    border: 1px solid #ffffff;
    background-color: rgb(121, 121, 121);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #114a63;
    scale: 1.05;
}

input, select, textarea {
    border: 2px solid #696969;
    background-color: #333333;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    color: white;
}
::placeholder {
    color: #ababab;
    font-style: italic;
}

input[type="text"], textarea {
    box-sizing: border-box;
    cursor: text;
}

select, input:not([type="text"]) {
    cursor: pointer;
}

.circle_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: rgb(121, 121, 121);
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

@keyframes vto {
    from { transform: translateX(0); scale: 1; opacity: 1; }
    to { transform: translateX(-50%); scale: 0.8; opacity: 0; }
}

@keyframes vti {
    from { transform: translateX(50%); scale: 0.8; opacity: 0; }
    to { transform: translateX(0); scale: 1; opacity: 1; }
}

::view-transition-old(root) {
    animation: vto 0.5s ease-in-out;
}
::view-transition-new(root) {
    animation: vti 0.5s ease-in-out;
}

@view-transition {
    navigation: auto;
}
/* Custom CSS for index */
button {
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
}